body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    max-width: 650px;
    margin:auto;
    padding:0;

}

.main {
    perspective: 2px;
    perspective-origin: 0 0;
    transform-style: preserve-3d;
    height: 100vh;
    width: 650px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.background_layer_A{
    background-image: url(panda1.png);
    background-position: center;
    width: 650px;
    height: 500px;
    position: relative;
    z-index: -1;
    transform: translateZ(-1px) scale(1.5);
    transform-origin: 0 0;
    filter: brightness(95%)
}

.parallel_layer_A{
    position: absolute;
    width: 650px;
    height: 500px;
    top: 0;
    color: white;
    z-index: 1;
}

.title {
    font-size: 20px;
    letter-spacing: 2px;
    float: left;
    padding-left: 60px;
    padding-top: 15px;
    padding-right: 25px;
    font-weight: bolder;
}

a {
    display: inline;
    font-size: 8px;
    margin-left: 10px;
    padding-top: 30px;
    vertical-align: middle;
    font-weight: bold;
}

h1 {
    margin-bottom: 0px;
    font-size: 45px;
    text-align: center;
    padding-top: 40px;
    line-height: 110%;
    font-weight: bolder;
}

.p1 {
    font-size: 11px;
    text-align: center;
    line-height: 155%;
    margin-top: 35px;
}

button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 13px;
    text-align: center;
    font-size: 7px;
    display: block;
    margin: 20px auto;
}

.parallel_layer_B{
    position: absolute;
    width: 650px;
    height: 800px;
    top: 450px;
    list-style-type: none;
    background-color: white;
    z-index: 1;
}

.images {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0 0 0 45px;
}

img {
    height: 270px;
    width: 270px;
    display: inline-block;
    padding: 3px 3px;
    object-fit: cover;
}

.p2 {
    margin: 0;
    font-size: 10px;
    padding-left: 150px;
    padding-top: 5px;
    line-height: 170%;
}

.background_layer_C {
    background-image: url(panda6.jpg);
    background-position: center;
    background-size: cover;
    width: 650px;
    height: 500px;
    position: relative;
    z-index: -1;
    transform: translateZ(-1px) scale(1.5) translate3d(0, 500px, 0);
    transform-origin: 0 0;
    
}

.parallel_layer_C{
    position: absolute;
    width: 650px;
    height: 500px;
    top: 1120px;
    z-index: 1;
}

.p3 {
    font-size: 10px;
    text-align: center;
    line-height: 150%;
    margin-top: 300px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 300px;
}